/* FONTS 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Wix Madefor Display', sans-serif;
*/

@font-face {
    font-family: Jurere;
    src: url(./fonts/SC\ Jurerê.ttf);
}

@font-face {
    font-family: Vasec;
    src: url(./fonts/Vasek\ Italic.ttf);
}

body{
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.none{
    display: none !important;
}

/* HEADER */

.header{
    margin-top: 57px;
}

.container{
    position: relative;
    max-width: 1392px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-list{
    display: flex;
}

.header__nav-link{
    position: relative;
}

.animation-line::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.2s ease-in;
  }
  
  .animation-line:hover::before {
    width: 100%;
  }

.header__row a{
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 134.5%;
}

.header__nav-item:not(:last-child){
    margin-right: 28px;
}

.header__feedback{
    display: flex;
    align-items: center;
}

.header__nav-link--more{
    margin-right: 29px;
}

.header__nav-link--more-right{
    display: none;
}

.header__number{
    position: relative;
    margin-right: 22px;
}

.button{
    font-family: 'Wix Madefor Display', sans-serif;
    background-color: #fff;
    line-height: 134.5%;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid black;
    padding: 5px 18px;
    border-radius: 37px;
    cursor: pointer;
}

@media (max-width: 1391px){
    .container{
        width: 100%;
    }
}

@media (max-width: 915px){
    .header__nav-item:not(:first-child){
        display: none;
    }

    .header__nav-link{
        margin: 0;
    }

    .header__nav-item:not(:last-child){
        margin-right: 0;
    }

    .header__nav-link--more{
        display: none;
    }

    .header__logo{
        /* margin-left: 15px; */
    }

    .header__nav-link--more-right{
        position: absolute;
        right: 2%;
        display: inherit;
    }

    .header__number, .header__button{
        display: none;
    }
}

/* HEADER HOME */

.header__home{
    position: relative;
    margin-top: 258px;
}

.header__home--visit{
    position: relative;
    margin-top: 158px;
}

.home-text-wrapper{
    align-items: center;
    max-width: 680px;
    margin: 0 auto;
}

.title{
    font-family: Jurere, serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 120.5%;
    text-align: center;
    margin-bottom: 30px;
}

.home__title{
    font-family: Jurere, serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 120.5%;
    text-align: center;
}

.home__subtitle{
    display: block;
    font-family: Vasec, serif;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    margin-top: -7px;
    margin-left: 10px;
}

.subtitle{
    font-weight: 400;
    line-height: 134.5%;
    text-align: center;
}

.home__button-wrapper{
    display: none;
}

.home__social{
    display: inline-block;
    margin-top: 100px;
}

.social__column{
    display: flex;
    flex-direction: column;
}

.social__link:not(:last-child :first-child){
    margin-bottom: 27px;
}

.social__link svg{
    transition: 0.2s ease-in-out;
}

.social__link svg:hover{
    fill: #636363;
}

.social__link--tg{
    margin-bottom: 19px;
}

.home__play{
    display: flex;
}

.play-wrapper{
    position: absolute;
    right: 16px;
    bottom: 26px;
}

@media (max-width: 1391px){
    .container{
        width: 100%;
    }
}

@media (max-width: 915px){
   .home__title, .home__subtitle{
        font-size: 56px;
        margin: 0;
   }

   .home__button-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 39px;
   }
}

@media (max-width: 699px){
    .social__link{
        display: none;
    }

    .home__play{
        justify-content: center;
        margin-top: 45px;
    }

    .play-wrapper{
        position: static;
    }

    .header__home{
        margin-top: 187px;
    }
}

@media (max-width: 563px){
    .home__title, .home__subtitle{
        font-size: 48px;
        margin-left: 0;
   }
}

@media (max-width: 488px){
    .header{
        margin-top: 46px;
    }

    .header__nav-link--more-right{
        position: absolute;
        right: 5.5%;
        display: inherit;
    }

    .home__title, .home__subtitle{
        font-size: 36px;
   }

   .home__title{
    margin-bottom: 4px;
   }

   .header__logo img{
        width: 94px;
        height: 24px;
   }
}

@media (max-width: 366px){
    .home__title, .home__subtitle{
        font-size: 30px;
   }
}

/* ADVANTAGES SECTION */

.advantages__row{
    display: flex;
    margin-top: 195px;
}

.advantages__card{
    max-width: 335px;
    margin-left: 49px;
}
.advantages__card:not(:last-child :first-child){
    margin-left: 126px;
}

.advantages__card img{
    position: absolute;
    top: -27px;
}

.advantages__frame--first{
    left: 26px;
}

.advantages__frame--second{
    left: 480px;
}

.advantages__frame--third{
    right: 36px;
}

.advantages__title{
    font-family: Jurere, serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 132.5%;
    margin-bottom: 26px;
}

.advantages__title--pay{
    margin-top: -5px;
}

.advantages__subtitle{
    font-weight: 400;
    line-height: 134.5%;
}

@media (max-width: 1391px){
    .container{
        width: 100%;
    }

    .advantages__row{
        flex-direction: column;
        justify-content: center;
    }

    .advantages__card{
        position: relative;
        margin: 0px auto 100px auto;
    }

    .advantages__card:not(:last-child :first-child){
        margin: 0px auto 100px auto;
    }

    .advantages__frame{
        left: -47px;
    }
}

@media (max-width: 699px){
    .advantages__frame{
        display: none;
    }

    .advantages__title{
        text-align: center;
        margin-bottom: 10px;
    }

    .advantages__subtitle{
        text-align: center;
    }
}

@media (max-width: 563px){
    .advantages__card{
        margin: 0px auto 40px auto;
    }

    .advantages__card:not(:last-child :first-child){
        margin: 0px auto 40px auto;
    }

    .advantages__title{
        font-size: 28px;
    }
}

@media (max-width: 488px){

    .advantages__row{
        margin-top: 124px;
    }

    .advantages__card{
        margin: 0 0 45px 5px;
    }

    .advantages__card:not(:last-child :first-child){
        margin: 0 0 46px 5px;
    }

    .advantages__title{
        font-family: 'Wix Madefor Display', sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        line-height: 134.5%;
        text-align: left;
        margin-bottom: 22px;
    }

    .advantages__title--first::after{
        content: "";
        margin-top: 6px;
        display: block;
        width: 230px;
        border-bottom: 1px solid black;
    }

    .advantages__title--second::after{
        content: "";
        margin-top: 6px;
        display: block;
        width: 191px;
        border-bottom: 1px solid black;
    }

    .advantages__title--third::after{
        content: "";
        margin-top: 6px;
        display: block;
        width: 214px;
        border-bottom: 1px solid black;
    }

    .advantages__title--pay{
        max-width: 220px;
    }

    .advantages__subtitle span{
        display: block;
    }

    .advantages__subtitle{
        width: 335px;
        font-size: 14px;
        text-align: left;
    }
}

@media (max-width: 366px){
    .advantages__subtitle{
        width: 300px;
    }
}

/* PRINT SECTION */

.print{
    /* background-color: #f7ffc6; */
    margin-top: 470px;
}

.print__wrapper{
    max-width: 811px;
    margin: 0 auto;
}

.print__title{
    font-family: Jurere, serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 120.5%;
    text-align: center;
    margin-bottom: 30px;
}

.print__subtitle{
    max-width: 440px;
    font-weight: 400;
    line-height: 134.5%;
    text-align: center;
    margin: 0 auto;
}

.print__offers-wrapper{
    display: none;
}

.print__button{
    display: none;
}

@media (max-width: 1391px){
    .container{
        max-width: 100%;
    }

    .print{
        margin-top: 44px;
    }
}

@media (max-width: 488px){
    .print__title{
        font-size: 30px;
        text-align: left;
        margin-left: 5px;
    }

    .print__subtitle{
        width: 335px;
        font-size: 14px;
        text-align: left;
        margin-left: 5px;
    }

    .print__offers-wrapper{
        display: flex;
        flex-direction: column;
        max-width: 313px;

        margin: 32px 0 29px 26px;

    }

    .print__offers-top{
        margin-bottom: 22px;
    }

    .print__offers-item:not(:last-child){
        margin-right: 27px;
    }
    
    .print__button{
        display: inherit;
        margin-left: 8px;
        font-size: 12px;
        font-weight: 600;
        padding: 8px 36px 7px 38px;
    }
}

@media (max-width: 366px){
    .print__subtitle{
        width: 300px;
    }
}

/* COMPLEXITY SECTION */

.complexity{
    /* background-color: #f3e5ff; */
    margin-top: 429px;
}

.complexity__text{
    max-width: 714px;
    margin: 0 auto;
}

.complexity__subtitle{
    max-width: 440px;
    margin: 0 auto;
}

.complexity__chancellery{
    display: flex;
    justify-content: center;
    margin-top: -5px;
}

.complexity__chancellery img{
    margin-left: 9px;
}

.complexity__mobile-slider{
    display: none;
}

@media (max-width: 1391px){
    .container{
        max-width: 100%;
    }
}

@media (max-width: 1249px){
    .complexity{
        margin-top: 70px;
    }

    .complexity__chancellery{
        display: none;
    }
}

@media (max-width: 488px){

    .complexity{
        margin-top: 52px;
    }

    .complexity__title{
        font-size: 30px;
        text-align: left;
        margin-left: 5px;
        margin-bottom: 15px;
    }

    .complexity__subtitle{
        max-width: 330px;
        font-size: 14px;
        text-align: left;
        margin-left: 5px;
    }

    .complexity__mobile-slider{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
    }

    .complexity__img--02{
        margin-top: -64px;
    }

    @media (max-width: 366px){
        .complexity__title{
            font-size: 26px;
        }
    }
}

/* ADVERTISEMENT SECTION */

.advertisement{
    position: relative;
    margin-top: 393px;
}

.advertisement__text{
    padding-top: 266px;
    margin-left: 10px;
    max-width: 627px;
    margin: 0 auto;
}

.advertisement__title{
    margin-left: 12px;
}

.advertisement__subtitle{
    max-width: 439px;
    margin: 0 auto;
}

.advertisement__background--big{
    position: absolute;
    top: 0;
    left: -19px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.advertisement__background-phone{
    display: none;
}

@media (max-width: 1440px){
    .container{
        max-width: 100%;
    }
    .advertisement__background-img{
        display: block;
        width: 1200px;
        margin: 0 auto;
    }
}

@media (max-width: 1201px){

    .advertisement{
        margin-top: 200px;
    }

    .advertisement__background-img{
        width: 900px;
    }

    .advertisement__text{
        padding-top: 166px;
        margin-left: 10px;
        max-width: 627px;
        margin: 0 auto;
    }
}

@media (max-width: 937px){

    .advertisement__background-img{
        width: 600px;
    }

    .advertisement__text{
        padding-top: 83px;
    }
}

@media (max-width: 645px){

    .advertisement__background-img{
        width: 475px;
    }
}

@media (max-width: 504px){

    .advertisement__background-img{
        width: 375px;
    }

    .advertisement__text{
        padding-top: 83px;
    }

    .advertisement__title{
        font-size: 42px;
    }
}

@media (max-width: 488px){

    .advertisement{
        margin-top: 134px;
    }

    .advertisement__background--big{
        display: inline-block;
        margin-top: 233px;
        left: 0;
    }

    .advertisement__background-img{
        display: none;
    }

    .advertisement__background-phone{
        display: block;
        margin: 0 auto;
        max-width: 375px;
    }

    .advertisement__text{
        max-width: 335px;
        padding: 0;
    }

    .advertisement__title{
        font-size: 30px;
        line-height: 120.5%;
        text-align: left;
        margin: 0 0 21px 4px;
    }

    .advertisement__subtitle{
        font-size: 14px;
        text-align: left;
        margin-left: 5px;
    }
}

@media (max-width: 365px){

    .advertisement__text{
        max-width: 300px;
        margin: 0;
    }

    .advertisement__title{
        max-width: 300px;
        margin: 0;
    }

    .advertisement__subtitle{
        max-width: 300px;
        margin: 0;
    }

    .advertisement__background-phone{
        max-width: 300px;
    }
}

/* GRID SECTION */

.grid{
    margin-top: 579px;
}

.grid__cards{
    display: flex;
    flex-wrap: wrap;
    /* max-width: 1357px; */
    width: 1372px;
}

.grid__card--top-center{
    margin-bottom: 16px;
}

.grid__card--top-right{
    margin-bottom: 11px;
}

.grid__card:not(:last-child):not(:nth-child(3)){
    margin-right: 16px;
}

.grid__card--bottom-left{
    margin-top: -38px;
}

.grid__card--botton-center{
    margin-right: 11px;
}

.grid__card-phone{
    display: none;
}

@media (max-width: 1440px){
    .container{
        width: 100%;
    }

    .grid__cards{
        justify-content: center;
    }

    .grid{
        margin-top: 420px;
    }
}

@media (max-width: 1387px){
    .grid{
        margin-top: 308px;
    }

    .grid__cards{
        width: 100%;
    }

    .grid__card--top-left,
    .grid__card--bottom-left{
        display: none;
    }
}

@media (max-width: 1045px){
    .grid__card--top-right,
    .grid__card--bottom-right{
        display: none;
    }
}

@media (max-width: 937px){

    .grid{
        margin-top: 208px;
    }

    .grid__cards{
        justify-content: center;
    }
}

@media (max-width: 488px){
    .grid{
        margin-top: 498px;
    }

    .grid__cards{
        max-width: 339px;
        margin: 0 auto;
    }

    .grid__card{
        display: none;
    }

    .grid__card-phone{
        display: block;
    }

    .grid__card-phone--top{
        margin-bottom: 16px;
    }
}

/* JOBS SECTION */

.jobs{
    margin-top: 79px;
}

.jobs__container{
    max-width: 1390px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.jobs__text{
    max-width: 575px;
    margin: 0 auto;
    margin-bottom: 66px;
}

.jobs__title{
    margin-bottom: 15px;
}

.jobs__subtitle{
    max-width: 461px;
    margin: 0 auto;
}

.jobs__row{
    display: flex;
    max-width: 1390px;
    padding-left: 15px;
    padding-right: 15px;
}

.jobs__card{
    position: relative;
    width: 210px;
    height: 120px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.jobs__card--roskuban{
    justify-content: flex-start;
}

.jobs__card-front{
    position: absolute;
    font-family: Jurere, serif;
    font-weight: 400;
    font-size: 32px;
    color: #626262;
    transition: 1s;
    backface-visibility:hidden;
}

.jobs__card-back{
    position: absolute;
    transition: 1s;
    backface-visibility:hidden;
    transform: rotateY(180deg);
}

.jobs__card:hover .jobs__card-front{
    transform: rotateY(180deg);
}

.jobs__card:hover .jobs__card-back{
    transform: rotateY(360deg);
}

.jobs__card--gazprom::before{
    display: block;
    content: "";
    position: absolute;
    background-color: #626262;
    opacity: 0.5;
    width: 1px;
    height: 74px;
    left: -4px;
    top: 50%;
    transform: translateY(-50%);
}

.jobs__card--kukusiki::before{
    display: block;
    content: "";
    position: absolute;
    background-color: #626262;
    opacity: 0.5;
    width: 1px;
    height: 74px;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
}

.jobs__card--kukusiki{
    margin-left: 23px;
}

.jobs__card--goldapple::before{
    display: block;
    content: "";
    position: absolute;
    background-color: #626262;
    opacity: 0.5;
    width: 1px;
    height: 74px;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
}

.jobs__card--goldapple{
    margin-left: 20px;
}

.jobs__card--bison::before{
    display: block;
    content: "";
    position: absolute;
    background-color: #626262;
    opacity: 0.5;
    width: 1px;
    height: 74px;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
}

.jobs__card--bison{
    margin-left: 20px;
}

.jobs__card--partner::before{
    display: block;
    content: "";
    position: absolute;
    background-color: #626262;
    opacity: 0.5;
    width: 1px;
    height: 74px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.jobs__card--partner{
    margin-left: 8px;
}

.jobs__grid{
    display: none;
}

@media (max-width: 1440px){
    .container{
        width: 100%;
    }
}

@media (max-width: 1283px){
    .jobs__row{
        display: none;
    }

    .jobs__grid{
        display: grid;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(2, 150px);
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .jobs__grid-card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 150px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.07);
    }
}

@media(max-width: 785px){
    .jobs__grid{
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(3, 150px);
    }
}

@media(max-width: 525px){
    .jobs__text{
        margin-bottom: 36px;
    }

    .jobs__grid{
        grid-template-columns: repeat(2, 163px);
        grid-template-rows: repeat(3, 94px);
    }

    .jobs__grid-card{
        width: 163px;
        height: 94px;
    }

    .jobs__grid-ico--roskuban{
        width: 119px;
        height: 43px;
    }

    .jobs__grid-ico--gazprom{
        width: 115px;
        height: 63px;
    }

    .jobs__grid-ico--kukusiki{
        width: 100px;
        height: 54px;
    }

    .jobs__grid-ico--goldapple{
        width: 139px;
        height: 30px;
    }

    .jobs__grid-ico--bison{
        width: 75px;
        height: 68px;
    }

    .jobs__grid-ico--partner{
        width: 122px;
        height: 31px;
    }
}

@media (max-width: 488px){
    .jobs {
        margin-top: 21px;
    }

    .jobs__title{
        font-size: 30px;
        text-align: left;
        margin-left: 5px;
        margin-bottom: 30px;
    }

    .jobs__subtitle{
        max-width: 330px;
        font-size: 14px;
        text-align: left;
        margin-left: 4px;
    }
}

/* EQUIPMENT SECTION */

.equipment{
    margin-top: 333px;
}

.equipment__text{
    max-width: 620px;
    margin: 0 auto;
}

.equipment__title{
    margin-bottom: 21px;
}

.equipment__content{
    display: flex;
}

.equipment__content--nocai{
    position: relative;
    margin-top: 210px;
}

.equipment__description{
    display: inline-block;
    max-width: 537px;
    margin-left: 55px;
}

.equipment__description p{
    color: #626262;
    font-family: 'Wix Madefor Display', sans-serif;
    line-height: 134.5%;
    font-weight: 400;
    font-size: 16px;
}

.equipment__title--little{
    text-transform: uppercase;
    font-family: 'Wix Madefor Display', sans-serif;
    line-height: 134.5%;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 36px;
}

.equipment__title-wide{
    text-transform: uppercase;
    font-family: Jurere, serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 132.5%;
    margin-bottom: 36px;
}

.equipment__subtitle--top{
    font-family: 'Wix Madefor Display', sans-serif;
    line-height: 134.5%;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.equipment__subtitle--bottom{
    font-family: 'Wix Madefor Display', sans-serif;
    line-height: 134.5%;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 36px;
}

.equipment__button{
    padding: 7px 44px 4px 39px;
}

.equipment__card-image--nocai{
    position: absolute;
    top: -21px;
    right: 117px;
}

.equipment__card-background--nocai{
    position: absolute;
    top: -92px;
    right: 26px;
    z-index: -1;
}

.equipment__content--konica{
    position: relative;
    margin-top: 238px;
}

.equipment__subtitle--konica{
    margin-bottom: 131px;
}

.equipment__card-image--konica{
    position: absolute;
    top: -115px;
    right: 109px;
}

.equipment__card-background--konica{
    position: absolute;
    z-index: -1;
    top: -112px;
    right: 71px;
}

.equipment__content--mimaki{
    position: relative;
    margin-top: 216px;
}

.equipment__subtitle--mimaki{
    margin-bottom: 131px;
}

.equipment__card-image--mimaki{
    position: absolute;
    top: 27px;
    right: 127px;
}

.equipment__card-background--mimaki{
    position: absolute;
    z-index: -1;
    top: -75px;
    right: 10px;
}

.equipment__content--roland{
    position: relative;
    margin-top: 254px;
}

.equipment__subtitle--roland{
    margin-bottom: 110px;
}

.equipment__card-image--roland{
    position: absolute;
    top: 16px;
    right: 39px;
}

.equipment__card-background--roland{
    position: absolute;
    z-index: -1;
    top: -99px;
    right: -23px;
}

@media (max-width: 1440px){
    .container{
        width: 100%;
    }

    .equipment__content--konica,
    .equipment__content--mimaki,
    .equipment__content--roland{
        display: none;
    }
}

@media (max-width: 1321px){
    .equipment__card-image--nocai{
        width: 485px;
        top: 0px;
    }

    .equipment__card-background--nocai{
        width: 570px;
        top: -60px;
    }
}

@media(max-width: 1191px){

    .equipment__description{
        margin: 0 auto;
    }

    .equipment__subtitle-wrapper{
        margin-top: 325px;
    }

    .equipment__button-wrapper{
        display: flex;
        justify-content: center;
    }

    .equipment {
        margin-top: 130px;
    }

    .equipment__content--nocai{
        margin-top: 130px;
    }

    .equipment__title-wrapper{
        display: flex;
    }

    .equipment__title-wide{
        font-family: 'Wix Madefor Display', sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        line-height: 134.5%;
    }

    .equipment__title--little {
        max-width: 350px;
    }
    .equipment__card--nocai{
        position: relative;
    }

    .equipment__card-image--nocai{
        width: 450px;
        right: 60px;
        top: 0px;
    }

    .equipment__card-background--nocai{
        width: 500px;
        right: 12px;
        top: -47px;
    }
}

@media(max-width: 535px){

    .equipment__card--nocai {
        display: flex;
        justify-content: center;
    }

    .equipment__title-wrapper{
        justify-content: center;
    }
    .equipment__title--little{
        max-width: 263px;
        font-size: 12px;
        font-weight: 600;
    }

    .equipment__card-image--nocai {
        position: static;
        width: 312px;
        right: 100px;
        top: 0px;
    }

    .equipment__card-background--nocai {
        width: 380px;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .equipment__subtitle-wrapper {
        margin-top: 55px;
    }

    .equipment__description p{
        font-size: 14px;
    }
}

@media (max-width: 488px){
    .equipment{
        margin-top: 207px;
        margin-left: 5px;
    }

    .equipment__content--nocai {
        margin-top: 73px;
    }

    .equipment__title{
        font-size: 30px;
        text-align: left;
        margin-bottom: 24px;
    }

    .equipment__title-wrapper{
        max-width: 336px;
        justify-content: space-between;
    }

    .equipment__title--little{
        max-width: 163px;
        margin-right: 10px;
    }

    .equipment__card-image--nocai{
        width: 271px;
    }

    .equipment__card-background--nocai{
        width: 312px;
    }

    .equipment__subtitle{
        max-width: 330px;
        font-size: 14px;
        text-align: left;
    }
}

/* MAP SECTION */

.map{
    margin-top: 324px;
}

.map__text{
    display: flex;
    justify-content: flex-end;
}

.map__way{
    display: inline-block;
}

.map__way-img{
    position: absolute;
    top: 0px;
    left: 0px;
}

.map__delivery{
    display: inline-block;
    max-width: 321px;
    padding-top: 139px;
    margin-right: 258px;
}

.map__title{
    margin-bottom: 10px;
}

.map__regions{
    position: relative;
    padding-top: 77px;
    padding-right: 68px;
}

.map__region-item{
    text-transform: uppercase;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 134.5%;
    margin-bottom: 47px;
    cursor: pointer;
}

.map__pointer{
    position: absolute;
    top: 68px;
    right: 302px;
}

.map__pointer-phone{
    display: none;
}

.map__region-item::after{
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 68px;
    right: 46px;
    background-image: url(./img/map/border-region.svg);
    width: 261px;
    height: 42px;
}

.map__region:not(:last-child){
    margin-bottom: 47px;
}

@media (max-width: 1440px){
    .container{
        width: 100%;
    }
}

@media(max-width: 1191px){
    .map{
        margin-top: 200px;
    }

    .map__text{
        flex-direction: column;
        max-width: 537px;
        margin: 0 auto;
    }

    .map__delivery{
        position: relative;
        display: inline-block;
        max-width: 537px;
        padding-top: 0px;
        margin: 0 auto;
    }

    .map__way-img{
        width: 550px;
        top: 41%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .map__regions{
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin-top: 601px;
        padding: 0;
    }

    .map__pointer{
        display: none;
    }

    .map__pointer-phone{
        display: block;
        position: absolute;
        bottom: 177px;
        right: 240px;
    }

    .map__region-item::after{
        top: -10px;
        right: -24px;
    }
}

@media(max-width: 599px){
    .map {
        margin-top: 122px;
    }

    .map__way-img {
        width: 435px;
    }

    .map__region-item::after{
        top: -10px;
        right: -12px;
    }

    .map__pointer-phone{
        display: block;
        position: absolute;
        bottom: 177px;
        right: 254px;
    }
}

@media (max-width: 488px){
    .map {
        margin-top: 48px;
    }

    .map__delivery{
        margin: 0;
    }

    .map__title{
        font-size: 30px;
        text-align: left;
        margin-bottom: 24px;
    }

    .map__subtitle{
        max-width: 330px;
        font-size: 14px;
        text-align: left;
    }

    .map__way-img {
        width: 390px;
        top: 36%;
    }

    .map__regions{
        margin-top: 443px;
    }
}

@media (max-width: 365px){
    .map__way-img {
        width: 315px;
        top: 36%;
    }
}

/* DETAILS SECTION */

.feedback{
    margin-top: 161px;
}

.feedback__wrapper{
    display: flex;
}

.feedback__form{
    padding-top: 249px;
    margin-left: 139px;
}

.feedback__input-wrapper{
    display: grid;
    grid-template-columns: 344px 325px;
    row-gap: 57px;
}

.feedback__input{
    position: relative;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 134.5%;
}

.feedback__input:nth-child(1), .feedback__input:nth-child(3){
    max-width: 325px;
}

.feedback__input::placeholder{
    color: black;
}

.feedback__input:focus{
    outline: none;
}

.feedback__input:last-child{
    grid-column: 1 / 3;
}

.feedback__button-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 545px;
    margin-top: 71px;
}

.feedback__button--file{
    position: relative;
    padding: 13px 41px 13px 55px;
    background-color: #FFF4D1;
    border: none;
}

.feedback__button--file::before{
    content: "";
    display: block;
    position: absolute;
    left: 13px;
    bottom: 12px;
    width: 28px;
    height: 28px;
    background-image: url(./img/map/clip.png);
}

.feedback__button--file::after{
    content: ".dwg";
    display: block;
    position: absolute;
    width: 55px;
    height: 21px;
    right: -56px;
    top: 13px;
}

.feedback__button--layout{
    position: absolute;
    right: 0px;
    top: 5px;
    padding-top: 6px;
    padding-right: 18px;
    padding-bottom: 4px;
    padding-left: 19px;
}

.feedback__details{
    margin-left: 79px;
    max-width: 614px;
}

.feedback__details-connection{
    margin-top: 76px;
    padding-left: 140px;
}

.feedback__details-connection--time{
    display: inline-block;
    padding-bottom: 12px;
}

.feedback__details-connection--coffee{
    position: relative;
    padding-bottom: 64px;
}

.feedback__details-connection--coffee::before{
    content: "";
    display: block;
    background-image: url(./img/footer/footer-icon-clock.svg);
    position: absolute;
    left: -84px;
    top: -25px;
    width: 47px;
    height: 46px;
}

.feedback__details-connection--address{
    position: relative;
    padding-bottom: 76px;
}

.feedback__details-connection--address::before{
    content: "";
    display: block;
    background-image: url(./img/footer/footer-icon-maps.svg);
    position: absolute;
    left: -84px;
    width: 42px;
    height: 41px;
}

.feedback__details-connection--number{
    position: relative;
}

.feedback__details-connection--number::before{
    content: "";
    display: block;
    background-image: url(./img/footer/footer-icon-contacts.svg);
    position: absolute;
    pointer-events: none;
    left: -84px;
    top: 9px;
    width: 42px;
    height: 41px;
}

.details-connection__social{
    display: flex;
    padding-top: 18px;
    align-items: center;
    justify-content: space-between;
    max-width: 114px;
}

.details-conection__social-link svg{
    transition: 0.2s ease-in-out;
}

.details-conection__social-link svg:hover{
    fill:#636363;
}

@media (max-width: 1440px){
    .container{
        width: 100%;
    }
}

@media (max-width: 1311px){
    .feedback {
        margin-top: 335px;
    }

    .feedback__wrapper{
        flex-direction: column-reverse;
    }

    .feedback__form{
        padding-top: 100px;
        margin: 0 auto;
    }

    .feedback__details{
        margin: 0 auto;
    }

    .feedback__details-connection{
        display: none;
    }
}

@media(max-width: 1191px){
    .feedback{
        margin-top: 70px;
    }

    .feedback__form{
        margin: 0 auto;
    }

    .feedback__input:nth-child(1), .feedback__input:nth-child(3) {
        max-width: 100%;
    }
}

@media(max-width: 699px){
    .feedback__form{
        margin: 0;
    }

    .feedback__input-wrapper{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 488px){
    .feedback__form{
        padding-top: 36px;
    }

    .feedback__button-wrapper{
        flex-direction: column;
        margin-top: 59px;
    }

    .feedback__button--file::after {
        display: none;
    }

    .feedback__button--file::before {
        left: 13px;
        bottom: 3px;
    }

    .feedback__button--file{
        position: absolute;
        background-color: #ED98B7;
        font-size: 0;
        top: -20px;
        left: 8px;
        padding: 19px 0px 16px 55px;
    }

    .feedback__button--layout{
        position: static;
        margin-top: 35px;
        padding: 6px 0 6px 0;
    }

    .feedback__details{
        margin: 0;
    }

    .feedback__details-title{
        font-size: 30px;
        text-align: left;
        margin-bottom: 19px;
    }

    .feedback__details-subtitle{
        max-width: 335px;
        font-size: 14px;
        text-align: left;
    }
}

/* FOOTER */

.footer{
    margin-top: 166px;
}

.footer__container{
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.footer__wrapper{
    display: flex;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 134.5%;
    padding-top: 33px;
}

.footer__top{
    display: flex;
}

.footer__bottom{
    display: flex;
}

.footer__info{
    display: flex;
    flex-direction: column;
    max-width: 107px;
    margin-left: 242px;
    margin-right: 239px;
    text-transform: uppercase;
}

.footer__info-link{
    position: relative;
    margin-bottom: 11px;
}

.footer__info-link::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.2s ease-in;
}

.footer__info-link--design:hover::before{
    width: 70%;
}

.footer__info-link--we:hover::before{
    width: 50%;
}

.footer__info-link--products:hover::before{
    width: 100%;
}

.footer__address{
    max-width: 232px;
    text-transform: uppercase;
    margin-right: 114px;
    line-height: 165.5%;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    max-height: 141px;
}

.footer__contacts-number{
    position: relative;
    margin-bottom: 16px;
}

.footer__contacs-link{
    margin-right: 8px;
}

.footer__contacs-link-wrapper{
    position: relative;
}

.footer__contacs-link--wa{
    position: absolute;
    top: -2px;
    right: 51px;
}

.footer__contacs-link--inst{
    position: absolute;
    top: -1px;
    right: 23px;
}

.footer__contacs-link svg{
    transition: 0.2s ease-in-out;
}

.footer__contacs-link svg:hover{
    fill: #333333;
}

@media (max-width: 1440px){
    .container{
        width: 100%;
    }
}

@media (max-width: 1207px){
    .footer__wrapper{
        justify-content: space-between;
    }

    .footer__top{
       
    }

    .footer__logo{
        margin-right: 50%;
    }
    
    .footer__bottom{
       
    }

    .footer__address{
    }

    .footer__info{
        margin: 0;
    }
}

@media (max-width: 949px){
    .footer__wrapper{
        flex-direction: column;
    }

    .footer__logo{
        margin: 0;
    }

    .footer__top{
        flex-direction: row-reverse;
        justify-content: center;
        gap: 272px;
        margin-bottom: 25px;
    }

    .footer__info-link--design::before{
        content: "";
        display: block;
        width: 70%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }
    
    .footer__info-link--we::before{
        content: "";
        display: block;
        width: 55%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }
    
    .footer__info-link--products::before{
        content: "";
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    .footer__bottom{
        justify-content: center;
    }
}

@media (max-width: 559px){
    .footer__address{
        max-width: 200px;
    }

    .footer__top{
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 0px;
    }

    .footer__bottom{
        justify-content: space-between;
    }

    .footer__address{
        margin: 0;
    }
}

@media (max-width: 371px){

    .footer__contacts-number{
        font-size: 11px;
    }

    .footer__contacs-link--wa {
        right: 10px;
    }

    .footer__contacs-link--inst {
        right: -15px;
    }
}






